In [27]:
import numpy as np
import matplotlib
import matplotlib.pyplot as pl
import ipywidgets as widgets
%matplotlib inline
%config InlineBackend.figure_format = 'svg'
from IPython.display import display, Math, Latex
import pandas as pd

In [28]:
df = pd.read_csv('train.tsv', header=None, sep = '\t')
df.columns = ['price', 'isNew', 'rooms', 'floor', 'location','sqrMetres']
df.head()

    price  isNew  rooms  floor location  sqrMetres
0  476118  False      3      1  Centrum         78
1  459531  False      3      2   Sołacz         62
2  411557  False      3      0   Sołacz         15
3  496416  False      4      0   Sołacz         14
4  406032  False      3      0   Sołacz         15

In [29]:
df[['price']].mean()

price    367281.254283
dtype: float64